server {
  listen 80;
  server_name {{ fqdn }};
  include letsencrypt.conf;
  if ($host = {{ fqdn }}) {
    return 301 https://$host$request_uri;
  }
  return 404;
}

server {
  listen 443 ssl;
  server_name {{ fqdn }};
  access_log /var/log/nginx/{{ fqdn }}.log;
  error_log /var/log/nginx/{{ fqdn }}.log;
  ssl_certificate /etc/letsencrypt/live/{{ fqdn }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ fqdn }}/privkey.pem;
  ssl_dhparam /etc/ssl/dhparams.pem;
  include ssl_params;
  include letsencrypt.conf;

    location / {
      proxy_http_version 1.1;
      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection "upgrade";
      proxy_pass https://localhost:8006;
      proxy_buffering off;
      client_max_body_size 0;
      proxy_connect_timeout  3600s;
      proxy_read_timeout  3600s;
      proxy_send_timeout  3600s;
      send_timeout  3600s;
  }
}


