source /etc/network/interfaces.d/*

auto lo
iface lo inet loopback

iface eno1 inet manual

iface eno2 inet manual

auto vmbr0
iface vmbr0 inet static
        address {{ pubip }}/32
        gateway {{ pubgate }}
        bridge-ports eno1
        bridge-stp off
        bridge-fd 0

auto vmbr1
iface vmbr1 inet static
        address {{ privip }}/24
        bridge-ports none
        bridge-stp off
        bridge-fd 0
post-up echo 1 > /proc/sys/net/ipv4/ip_forward
post-up iptables -t nat -A POSTROUTING -s '{{ privnet }}/24' -o vmbr0 -j MASQUERADE
post-down iptables -t nat -D POSTROUTING -s '{{ privnet }}/24' -o vmbr0 -j MASQUERADE
